
<main style="margin-top: 160px;">
  <div class="container main-content descricao-carreira-medica" >
    <h2 class="text-center" style="color: #54595F; font-family: 'Montserrat',Sans-serif; font-size: 20px; font-weight: 600">OPORTUNIDADES DE CARREIRA</h2>
    <div class="text-center elementor-divider-separator mx-auto" style="margin-top: -22px; margin-bottom: 22px;"></div>
    <p>O CARREIRA MÉDICA tem objetivo de orientar os médicos sobre a amplitude de oportunidades e como se preparar para cada uma delas após o termino da faculdade e da residência médica.</p>
    <p>O médico é um recurso humano de valor inestimável e necessita se preparar para ocupar posições de destaque dentro do que escolher para sua vida. O CARREIRA MÉDICA surgiu para ajudar os médicos a entenderem melhor seu papel e as possibilidades existentes.</p>
    <p>Alguns exemplos de oportunidades que o CARREIRA MÉDICA pode te ajudar na escolha, preparação, construção e posicionamento no mercado são:</p>

    <p>Alguns exemplos de oportunidades que o CARREIRA MÉDICA pode te ajudar na escolha, preparação, construção e posicionamento no mercado são:</p>
    <p>Consultório médico individualizado</p>
    <p>Clínica multiprofissional</p>
    <p>Hospitais</p>
    <p>Empresas médicas</p>
    <p>Empresas não médicas</p>
    <p>Multinacionais</p>
    <p>Pesquisa</p>
    <p>Desenvolvimento de produtos médicos</p>
    <p>Inovação tecnológica</p>

  </div>



  <div>
    <div class="content-carreira-medica" id="inventario-comportamental">

      <h2 class="text-center" style="color: #54595F; font-family: 'Montserrat',Sans-serif; font-size: 20px; font-weight: 600">PARCEIROS</h2>
      <div class="text-center elementor-divider-separator mx-auto" style="margin-top: -22px; margin-bottom: 22px;"></div>
      <div class="descricao-carreira-medica">
        <div class="text-format">
            <p>
              O carreira de médico é a principal plataforma focada exclusivamente na carreira do médico.
            </p>
            <p>
              Conheça as empresas parceiras que tem apoiado na realização deste projeto.
            </p>
        </div>

        <mdb-carousel [animation]="'slide'" [interval]="15000"  [ngSwitch]="carouselDisplayMode" style="margin-top: 20%" >
          <ng-container *ngSwitchCase="'multiple'">
            <mdb-carousel-item *ngFor="let item of slides; let i = index">
              <div class="col-md-3 pb-2" *ngFor="let card of item; let cardIndex = index">
                <mdb-card class="my-1 card-format-title">
                  <mdb-card-body>
                    <a class="text-center" [href]="card.InternalId" target="_blank" [matTooltip]="card.descricao" mdbWavesEffect >
                      <mdb-card-img  class="margin-image d-flex justify-content-center" [src]="card.img" alt="Card image cap"></mdb-card-img>
                    </a>
                  </mdb-card-body>
                </mdb-card>
              </div>
            </mdb-carousel-item>
          </ng-container>

          <ng-container *ngSwitchCase="'single'">
            <mdb-carousel-item *ngFor="let card of cards; let i = index">
              <div class="col-md-12 pb-2">
                <mdb-card class="my-1 card-format-title">
                  <mdb-card-body>
                    <a [href]="'https://www.reachr.com.br/#/Vaga/'+ card.InternalId" target="_blank" class="text-center">
                      <mdb-card-img  class="margin-image d-flex justify-content-center" [src]="card.img" alt="Card image cap"></mdb-card-img>
                    </a>
                  </mdb-card-body>
                </mdb-card>
              </div>
            </mdb-carousel-item>
          </ng-container>

        </mdb-carousel>

      </div>
    </div>
  </div>


  <div class="mt-5">
    <div class="content-carreira-medica" >

      <div class="descricao-abit">
        <app-vagas></app-vagas>

      </div>
    </div>
  </div>

  <div class="gradiante mt-5">
    <div style="padding: 40px">
      <p class="text-center" style="color: #FFF;font-size: 24px; line-height: 30px;">Precisando <strong>contratar médicos? Divulgue suas vagas</strong><br>
        conosco e encontre o <strong>profissional ideal</strong> para sua empresa.
      </p>
    </div>
    <div class="text-center">

      <button type="button" (click)="irParaDuvulgarVagas()" mdbBtn style="border-radius: 8px;background-color:#2c80bf; color: white; font-size: 19px;text-transform: none;margin-top: -30px;" class="waves-light"
              data-toggle="modal" data-target="#basicExample" mdbWavesEffect>Divulgar vagas</button>
    </div>
  </div>

  <div class="content-carreira-medica">

    <h2 class="text-center" style="color: #54595F; font-family: 'Montserrat',Sans-serif; font-size: 20px; font-weight: 600">CONHEÇA NOSSOS PLANOS</h2>
    <div class="text-center elementor-divider-separator mx-auto" style="margin-top: -22px; margin-bottom: 22px;"></div>
    <div class="row my-5">
      <div class="col-md-6 text-center">
        <button type="button" (click)="irParaMentoriaIndividual()" mdbBtn class="format-buttons waves-light"
                data-toggle="modal" data-target="#basicExample" mdbWavesEffect>MENTORIA INDIVIDUAL</button>
      </div>
      <div class="col-md-6 text-center">
        <button type="button" (click)="irParaMentoriaEmGrupo()" mdbBtn class="format-buttons waves-light"
                data-toggle="modal" data-target="#basicExample" mdbWavesEffect>MENTORIA EM GRUPO</button>
      </div>
    </div>
  </div>

</main>
