<span fxFlexAlign="center" *ngIf="vagas.length === 0">
  Carregando vagas...
</span>

<mdb-carousel [isControls]="true" [ngSwitch]="carouselDisplayMode" class="carousel-multi-item multi-animation" [type]="'carousel-multi-item'">
  <ng-container *ngSwitchCase="'multiple'">
    <mdb-carousel-item *ngFor="let item of slides; let i = index">
      <div class="col-md-3" *ngFor="let card of item; let cardIndex = index">
        <mdb-card class="my-1 card-format-title">
          <mdb-card-title class="card-format card-format-title">
            <a [href]="'https://www.reachr.com.br/#/Vaga/'+ card.InternalId" target="_blank">
              <h2>{{card.Part.nome}}</h2>
            </a>
          </mdb-card-title>
          <a [href]="'https://www.reachr.com.br/#/Vaga/'+ card.InternalId" target="_blank" class="text-center">
          <mdb-card-img  [src]="card.Empresa.Caracteristica.Logo" alt="Card image cap"></mdb-card-img>
          </a>
        </mdb-card>
        <mdb-card>
          <mdb-card-body class="card-format">
            <span *ngIf="card.Part.cidade.Cidade" class="font-card-vaga"><i class="fas fa-map-marker-alt"></i> {{card.Part.cidade.Cidade}}, </span>
            <span *ngIf="!card.Part.cidade.Cidade" class="font-card-vaga"><i class="fas fa-map-marker-alt"></i> Cidade não Informada,</span>

            <span *ngIf="card.Part.cidade.UF" class="font-card-vaga">{{card.Part.cidade.UF}}</span>
            <span *ngIf="!card.Part.cidade.UF" class="font-card-vaga">Estado não Informada</span>
          </mdb-card-body>
        </mdb-card>
        <mdb-card class="card-format-margin">
          <mdb-card-body class="card-format">
            <a [href]="'https://www.reachr.com.br/#/Vaga/'+ card.InternalId" target="_blank">
              Ver detalhes
            </a>
          </mdb-card-body>
        </mdb-card>
        <mdb-card class="card-format-margin">
          <mdb-card-body class="card-format-footer">
            <a [href]="card.Empresa.Caracteristica.URLLandingPage" target="_blank">Mais vagas desta empresa</a>
          </mdb-card-body>
        </mdb-card>

      </div>
    </mdb-carousel-item>
  </ng-container>

  <ng-container *ngSwitchCase="'single'">
    <mdb-carousel-item *ngFor="let vaga of vagas; let i = index" style="margin-bottom: 20px">
      <div class="col-md-12">
        <mdb-card class="my-1 card-format-title">
          <mdb-card-title class="card-format card-format-title">
            <a [href]="'https://www.reachr.com.br/#/Vaga/'+ vaga.InternalId" target="_blank">
              <h2>{{vaga.Part.nome}}</h2>
            </a>
          </mdb-card-title>
          <a [href]="'https://www.reachr.com.br/#/Vaga/'+ vaga.InternalId" target="_blank" class="text-center">
            <mdb-card-img  [src]="vaga.Empresa.Caracteristica.Logo" alt="Card image cap"></mdb-card-img>
          </a>
        </mdb-card>
        <mdb-card>
          <mdb-card-body class="card-format">
            <span *ngIf="vaga.Part.cidade.Cidade" class="font-card-vaga"><i class="fas fa-map-marker-alt"></i> {{vaga.Part.cidade.Cidade}}, </span>
            <span *ngIf="!vaga.Part.cidade.Cidade" class="font-card-vaga"><i class="fas fa-map-marker-alt"></i> Cidade não Informada,</span>

            <span *ngIf="vaga.Part.cidade.UF" class="font-card-vaga">{{vaga.Part.cidade.UF}}</span>
            <span *ngIf="!vaga.Part.cidade.UF" class="font-card-vaga">Estado não Informada</span>
          </mdb-card-body>
        </mdb-card>
        <mdb-card class="card-format-margin">
          <mdb-card-body class="card-format">
            <a [href]="'https://www.reachr.com.br/#/Vaga/'+ vaga.InternalId" target="_blank">
              Ver detalhes
            </a>
          </mdb-card-body>
        </mdb-card>
        <mdb-card class="card-format-margin">
          <mdb-card-body class="card-format-footer">
            <a [href]="vaga.Empresa.Caracteristica.URLLandingPage" target="_blank">Mais vagas desta empresa</a>
          </mdb-card-body>
        </mdb-card>
      </div>
    </mdb-carousel-item>
  </ng-container>
</mdb-carousel>

