
<mdb-navbar SideClass="navbar navbar-expand-lg navbar-light fixed-top bg-light" [containerInside]="false">
  <mdb-navbar-brand>
    <a class="navbar-brand" href="https://www.carreiramedica.com.br/">
      <img  src="assets/logo-carreira-medica.svg" height="115px" width="244x" class="d-inline-block align-top" alt="">
    </a>
  </mdb-navbar-brand>



  <links >

    <ul class="nav navbar-nav mx-auto justify-content-center bg-light">
      <li class="nav-item mr-4">
        <a href="https://www.carreiramedica.com.br/" class="format-a nav-link waves-light" >Home</a>
      </li>
      <li class="nav-item mr-4">
        <a href="https://www.carreiramedica.com.br/quem-somos/" class="format-a nav-link waves-light">Quem Somos</a>
      </li>
      <li class="nav-item mr-4">
        <a href="https://www.carreiramedica.com.br/como-fazemos/" class="format-a nav-link waves-light">Como Fazemos</a>
      </li>
      <li class="nav-item mr-4">
        <a href="https://www.carreiramedica.com.br/mentores/" class="format-a nav-link waves-light">Mentores</a>
      </li>
      <li class="nav-item active mr-4">
        <a href="https://www.carreiramedica.com.br/oportunidades-de-carreira/#/" class="format-a nav-link waves-light">Oportunidades de Carreira</a>
      </li>
      <li class="nav-item mr-4">
        <a href="https://www.carreiramedica.com.br/blog/" class="format-a nav-link waves-light">Blog</a>
      </li>
      <li class="nav-item">
        <a href="https://www.carreiramedica.com.br/contato/" class="format-a nav-link waves-light">Contato</a>
      </li>

    </ul>
  </links>


</mdb-navbar>
