<!-- Footer -->
<footer class="page-footer" style="background-color: #7A7A7A;box-shadow: 0px -5px 10px 0px #54595F;transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s; padding: 20px 20px 20px 20px;" id="fale-conosco">

  <!-- Footer Links -->
  <div class="container">

    <div class="row">

      <!-- Grid column -->
      <div class="col-md-3 mx-auto" style="position: inherit">
          <img class="card-img-top" style="width: 100%; margin-top: 60px; border-right: 2px solid #fff" src="assets/logo-footer.JPG" alt="logo">
      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none">

      <!-- Grid column -->
      <div class="col-md-3 mx-auto" style="position: inherit">

        <!-- Links -->
        <h3 class="mt-3 mb-4">Mapa do site</h3>

        <ul class="list-unstyled">
          <li>
            <a href="https://www.carreiramedica.com.br/">Home</a>
          </li>
          <li>
            <a href="https://www.carreiramedica.com.br/quem-somos/">Quem Somos</a>
          </li>
          <li>
            <a href="https://www.carreiramedica.com.br/mentores/" >Mentores</a>
          </li>
          <li>
            <a href="https://www.carreiramedica.com.br/oportunidades-de-carreira/#/">Oportunidades de Carreira</a>
          </li>
          <li class="active">
            <a href="#!">Contéudos</a>
          </li>
          <li>
            <a href="#!">Dúvidas Frequentes</a>
          </li>
          <li>
            <a href="https://www.carreiramedica.com.br/parceiros/">Parceiros</a>
          </li>
          <li>
            <a href="#!">Eventos</a>
          </li>
        </ul>

      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none">

      <!-- Grid column -->
      <div class="col-md-3 mx-auto" style="position: inherit">

        <!-- Links -->
        <h3 class="mt-3 mb-4">Redes Socias</h3>

        <ul class="list-unstyled">
          <li>
            <a href="https://www.facebook.com/">Facebook</a>
          </li>
          <li>
            <a href="https://www.linkedin.com/">Linkedin</a>
          </li>
          <li>
            <a href="http://instagram.com/">Instagram</a>
          </li>
          <li>
            <a href="https://twitter.com/login?lang=pt">Twitter</a>
          </li>
        </ul>

      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none">

      <!-- Grid column -->
      <div class="col-md-3 mx-auto" style="position: inherit">

        <!-- Links -->
        <h3 class="mt-3 mb-4">Contate-nos</h3>

        <ul class="list-unstyled">
          <li>
            <span style="color: #fff" href="#!">+55 11 1234-5678</span>
          </li>
          <li>
            <a href="#!">contato@carreiramedica.com.br</a>
          </li>
        </ul>

      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row -->


  </div>

</footer>
