/* You can add global styles to this file, and also import other style files */
@import "~@fortawesome/fontawesome-free/css/all.css";
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }



.carousel-control-prev {

  margin-left: -15%;
}

.carousel-control-next {

  margin-right: -15%;
}

@media only screen and (max-width: 600px) {
  .carousel-control-next {
    margin-right: -11%;
  }
}



.carousel-control-next-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' width='8' height='8' viewBox='0 0 8 8'%3e%3cpath d='M2.75 0l-1.5 1.5L3.75 4l-2.5 2.5L2.75 8l4-4-4-4z'/%3e%3c/svg%3e") !important;
}

.carousel-control-prev-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' width='8' height='8' viewBox='0 0 8 8'%3e%3cpath d='M5.25 0l-4 4 4 4 1.5-1.5L4.25 4l2.5-2.5L5.25 0z'/%3e%3c/svg%3e") !important;
}

.carousel-indicators li {
  background-color: #005aa1 !important;
}
.carousel-indicators {
  top: 100%;
}

.img-fluid {
  max-width: 60% !important;
}


.controls-top {
  display: none !important;
}

.navbar.navbar-light .breadcrumb .nav-item.active>.nav-link, .navbar.navbar-light .navbar-nav .nav-item.active>.nav-link {
  color: #1da1f2 !important;
  border-bottom: solid 3px #1da1f2;
  background-color: #fff !important;
}

.navbar {
  height: 115px;
}

.fixed-top {
  background:white !important;
  z-index:99 !important;
}

.mat-tooltip {
  font-size: 16px !important;
}




